body {
	background-image:url("../images/bk.jpg");
	 margin-left:0px; 
	 padding:0px; 
	 overflow:hidden;
	
}

.all-contain{


  	height:100%;
  	width:100%;
  	border-left:solid 1px gray;
  	position:absolute;

}

.all-contain h3.title {
    font-size: 20px;
    color: #3d3d3d;
    height: 80px;
    line-height: 55px;
    border-bottom: 1px solid #e0e0e0;
}

.download-div{
	background-color:#ffffff;
  	height:55%;
  	width:35%;
    margin-left: 30%;
  	border:solid 1px gray;
}

.box{
	overflow:hidden;
	box-sizing:border-box;
}

.dialog{
	
	margin:0 auto;
	margin-left:200px;
	margin-top:50px;
	width:600px;
	height:700px;

	padding:16px;
	box-sizing: border_box;
        border-style:solid;
        border-width:1px;
        border-color:#3d3d3d;
}
.title2{
	font-size:16px;
	color:#red;
	float:left;
	height:24px;
	line-height:24px;
}
.close{
	font-size:16px;
	float:right;
	cursor:pointer;
}
.nock word{
margin-top:16px;
height:32px;
line-height:32px;

}
.nc{
	overflow:hidden;
	margin-right:5px;
	height:32px;
	line-height:32px;
	float:left;
	font-size:14px;
	color:#030303;
	margin-left:14%;


}
.from{
	margin:0;
	padding:0;
}
.from_item{
	margin-bottom:22px;
    
	border:0;
	margin:0;
	padding:0;
}

.from_item:before{
	display:table;
	content:"";
}
.from_content{
	line-height:40px;
	position:relative;
	font-size:14px;
} 
.from_content:before{
	display:table;
	content:"";	
}
.ncinput{
	position:relative;
	font-size:14px;
	display:inline-block;
}
.inputinner{
	-webkit-appearance:none;
	background-color:#fff;
	background-image:none;
	border-radius:4px;
	border:1px solid #dcdfe6;
	color:#606266;
	display:inline-block;
	font-size:inherit;
	height:40px;
	line-height:40px;
	outline:0;
	padding:0 15px;
	transition:border-color .2s cubic-bezier(.645,.045,.355,.1);
}
.btn_group{

	overflow:hidden;
	margin-left:20%;
}
.cancel{
	float:right;
	width:72px;
	height:36px;
	background:#878787;
	border-radius:4px;
	font-size:14px;
	color:#030303;
	border:none;
	margin-right:80px;
	cursor:pointer;
}
.confirm{
    float:left;
	width:72px;
	height:36px;
	background:#ca0d16;
	border-radius:4px;
	font-size:14px;
	color:#fff;
	border:none;
	cursor:pointer;
		margin-left:0px;
 
}
.btn_group .cancel a{

    color: #ffffff;
	text-decoration: none;

}

a{
	    color: #ffffff;
		text-decoration:none;
}